In [9]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd() # Get the current working directory
#os.chdir() # Change the current working directory

'C:\\Users\\hudso\\OneDrive\\Documents\\02. WUR\\05. DSSE - Data Science for Smart Environments\\project'

In [42]:
stations = pd.read_csv("data/kod_stacji.csv")
stations

           Kod stacji    WGS84 N    WGS84 E
0            DsBialka  51.197783  16.117390
1          DsBielGrot  50.682510  16.617348
2     DsBogatFrancMOB  50.940998  14.916790
3           DsBogChop  50.905856  14.967175
4     DsBogZatonieMob  50.943245  14.913327
...               ...        ...        ...
1090     ZpSzczPilsud  53.432169  14.553900
1091  ZpSzczWSSEEnerg  53.420475  14.561934
1092  ZpSzczWSSESped6  53.415043  14.555347
1093   ZpWalWalczWSSE  53.263667  16.492596
1094     ZpWiduBulRyb  53.122325  14.382245

[1095 rows x 3 columns]

In [50]:
pm10 = pd.read_csv("data/PM10.csv")
pm10

       Rok            Kod stacji avg time  mean   min    max
0     2000             DsWrocWie      24g  36.4   2.6  121.9
1     2000          KpCiechTezni      24g  37.0   7.0  149.0
2     2000    LdLodzWSSEMWodna40      24g  45.8  14.0  133.0
3     2000          MpKrakAlKras      24g  37.0   8.9  135.9
4     2000  MpKrakowWIOSPrad6115      24g  35.5   6.0  130.0
...    ...                   ...      ...   ...   ...    ...
5355  2022          ZpKolZolkiew      24g  16.3   4.2   57.7
5356  2022          ZpMyslZaBram      24g  19.3   3.6   76.9
5357  2022          ZpSzczec1Maj      24g  19.0   4.6   64.2
5358  2022          ZpSzczecPrze       1g  23.1   0.1  219.6
5359  2022          ZpSzczecPrze      24g  19.2   4.0   80.0

[5360 rows x 6 columns]

In [53]:
pm10["WGS84 N"]=0
pm10["WGS84 E"]=0
pm10.head()

    Rok            Kod stacji avg time  mean   min    max  WGS84 N  WGS84 E
0  2000             DsWrocWie      24g  36.4   2.6  121.9        0        0
1  2000          KpCiechTezni      24g  37.0   7.0  149.0        0        0
2  2000    LdLodzWSSEMWodna40      24g  45.8  14.0  133.0        0        0
3  2000          MpKrakAlKras      24g  37.0   8.9  135.9        0        0
4  2000  MpKrakowWIOSPrad6115      24g  35.5   6.0  130.0        0        0

In [97]:
pm10_2022 = pm10[pm10["Rok"]==2022]
pm10_2022_24h = pm10_2022[pm10_2022["avg time"]=="24g"]
pm10_2022_24h.head()

       Rok    Kod stacji avg time  mean  min    max  WGS84 N  WGS84 E
5018  2022  DsWrocOrzech      24g  23.8  4.4   69.8        0        0
5020  2022  DsWrocWybCon      24g  25.1  3.5   97.0        0        0
5022  2022  DsLegAlRzecz      24g  27.3  5.3   93.7        0        0
5024  2022  DsWalbrzWyso      24g  24.9  3.9  115.9        0        0
5027  2022  DsGlogWiStwo      24g  23.0  3.1   98.2        0        0

In [98]:
pm10_2022_24h = pm10_2022_24h.reset_index(drop=True)

In [72]:
teste = stations[stations["Kod stacji"]=="DsBogChop"]
teste

  Kod stacji    WGS84 N    WGS84 E
3  DsBogChop  50.905856  14.967175

In [99]:
pm10_2022_24h.head()

    Rok    Kod stacji avg time  mean  min    max  WGS84 N  WGS84 E
0  2022  DsWrocOrzech      24g  23.8  4.4   69.8        0        0
1  2022  DsWrocWybCon      24g  25.1  3.5   97.0        0        0
2  2022  DsLegAlRzecz      24g  27.3  5.3   93.7        0        0
3  2022  DsWalbrzWyso      24g  24.9  3.9  115.9        0        0
4  2022  DsGlogWiStwo      24g  23.0  3.1   98.2        0        0

In [100]:
for i in range(len(pm10_2022_24h)):
    station_name = pm10_2022_24h.loc[i,"Kod stacji"]
    station_loc = stations[stations["Kod stacji"]==station_name]
    #print(station_name, station_loc)
    pm10_2022_24h.loc[i, "WGS84 N"] = station_loc.iloc[0, 1]
    pm10_2022_24h.loc[i, "WGS84 E"] = station_loc.iloc[0, 2]

In [101]:
pm10_2022_24h

      Rok       Kod stacji avg time  mean  min    max    WGS84 N    WGS84 E
0    2022     DsWrocOrzech      24g  23.8  4.4   69.8  51.077525  17.042817
1    2022     DsWrocWybCon      24g  25.1  3.5   97.0  51.129378  17.029250
2    2022     DsLegAlRzecz      24g  27.3  5.3   93.7  51.204503  16.180513
3    2022     DsWalbrzWyso      24g  24.9  3.9  115.9  50.768729  16.269677
4    2022     DsGlogWiStwo      24g  23.0  3.1   98.2  51.657022  16.097822
..    ...              ...      ...   ...  ...    ...        ...        ...
170  2022  ZpKamSzpitalMOB      24g  16.2  4.7   64.0  53.969714  14.776139
171  2022     ZpKolZolkiew      24g  16.3  4.2   57.7  54.179324  15.596342
172  2022     ZpMyslZaBram      24g  19.3  3.6   76.9  52.926283  14.862809
173  2022     ZpSzczec1Maj      24g  19.0  4.6   64.2  53.712114  16.692517
174  2022     ZpSzczecPrze      24g  19.2  4.0   80.0  53.698902  16.704556

[175 rows x 8 columns]

In [102]:
pm10_2022_24h.to_csv("data/PM10_geo.csv")

In [127]:
def preprocessing(path):
    df = pd.read_csv(path)
    df["WGS84 N"]=0
    df["WGS84 E"]=0
    df = df[df["Rok"]==2022]
    df = df[df["avg time"]=="1g"]
    df = df.reset_index(drop=True)
    return df

In [128]:
def combine_geo(df, stations):
    for i in range(len(df)):
        station_name = df.loc[i,"Kod stacji"]
        station_loc = stations[stations["Kod stacji"]==station_name]
        df.loc[i, "WGS84 N"] = station_loc.iloc[0, 1]
        df.loc[i, "WGS84 E"] = station_loc.iloc[0, 2]
    return df

In [129]:
pm10_2022_1h = preprocessing(path="data/PM10.csv")
pm10_2022_1h = combine_geo(df=pm10_2022_24h, stations=stations)
pm10_2022_1h.to_csv("data/PM10_geo.csv")

In [130]:
PM2_5_2022_1h = preprocessing(path="data/PM2_5.csv")
PM2_5_2022_1h = combine_geo(df=PM2_5_2022_24h, stations=stations)
PM2_5_2022_1h.to_csv("data/PM2_5_geo.csv")

In [131]:
O3_2022_1h = preprocessing(path="data/O3.csv")
O3_2022_1h = combine_geo(df=O3_2022_24h, stations=stations)
O3_2022_1h.to_csv("data/O3_geo.csv")

In [132]:
NOx_2022_1h = preprocessing(path="data/NOx.csv")
NOx_2022_1h = combine_geo(df=NOx_2022_24h, stations=stations)
NOx_2022_1h.to_csv("data/NOx_geo.csv")

In [133]:
NO2_2022_1h = preprocessing(path="data/NO2.csv")
NO2_2022_1h = combine_geo(df=NO2_2022_24h, stations=stations)
NO2_2022_1h.to_csv("data/NO2_geo.csv")

In [134]:
CO_2022_1h = preprocessing(path="data/CO.csv")
CO_2022_1h = combine_geo(df=CO_2022_24h, stations=stations)
CO_2022_1h.to_csv("data/CO_geo.csv")

In [135]:
SO2_2022_1h = preprocessing(path="data/SO2.csv")
SO2_2022_1h = combine_geo(df=SO2_2022_24h, stations=stations)
SO2_2022_1h.to_csv("data/SO2_geo.csv")

In [13]:
df = pd.read_csv("F1_4_Detailed releases at facility level with E-PRTR Sector and Annex I Activity detail into Air.csv")
df = df[df["countryName"]=="Poland"]
df = df[df["reportingYear"]==2019]
df

C:\Users\hudso\AppData\Local\Temp\ipykernel_21132\1478399480.py:1: DtypeWarning: Columns (7,10,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("F1_4_Detailed releases at facility level with E-PRTR Sector and Annex I Activity detail into Air.csv")

,countryName,EPRTRSectorCode,eprtrSectorName,EPRTRAnnexIMainActivityCode,EPRTRAnnexIMainActivityLabel,FacilityInspireID,facilityName,facilityNameConfidentialityReason,Longitude,Latitude,addressConfidentialityReason,City,targetRelease,pollutant,emissions,reportingYear,releasesConfidentialityReason
210898,Poland,1.0,Energy sector,1(c),Thermal power stations and other combustion in...,PL.MŚ/000000004.FACILITY,Ciepłownia Miejska,NaN,20.448046,52.068836,NaN,Żyrardów,AIR,Sulphur oxides (SOX),1.630000e+05,2019,NaN
210899,Poland,1.0,Energy sector,1(c),Thermal power stations and other combustion in...,PL.MŚ/000000005.FACILITY,Zakład Z-2 Knurów,NaN,18.678440,50.215218,NaN,Knurów,AIR,Sulphur oxides (SOX),1.520000e+05,2019,NaN
210900,Poland,6.0,Paper and wood production and processing,6(b),Industrial plants for the production of paper ...,PL.MŚ/000000006.FACILITY,VELVET CARE SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALN...,NaN,19.558495,50.351173,NaN,Klucze,AIR,Hydrochlorofluorocarbons (HCFCs),3.450000e+01,2019,NaN
210901,Poland,5.0,Waste and wastewater management,5(d),Landfills (excluding landfills of inert waste ...,PL.MŚ/000000009.FACILITY,ENERGA ELEKTROWNIE OSTROŁĘKA SPÓŁKA AKCYJNA,NaN,21.612028,53.104443,NaN,OSTROŁĘKA,AIR,Carbon dioxide (CO2),1.850000e+09,2019,NaN
210902,Poland,5.0,Waste and wastewater management,5(d),Landfills (excluding landfills of inert waste ...,PL.MŚ/000000009.FACILITY,ENERGA ELEKTROWNIE OSTROŁĘKA SPÓŁKA AKCYJNA,NaN,21.612028,53.104443,NaN,OSTROŁĘKA,AIR,Carbon monoxide (CO),5.310000e+05,2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212253,Poland,7.0,Intensive livestock production and aquaculture,7(a),Installations for the intensive rearing of pou...,PL.MŚ/000004693.FACILITY,"Agro Poultry Company Spółka z o.o., Ferma Drob...",NaN,16.432926,52.606697,NaN,Poznań,AIR,Ammonia (NH3),1.180000e+04,2019,NaN
212254,Poland,1.0,Energy sector,1(c),Thermal power stations and other combustion in...,PL.MŚ/000004708.FACILITY,Destylacje Wawrzyniak Przedsiębiorstwo Handlow...,NaN,18.144602,51.949650,NaN,Zbiersk-Cukrownia,AIR,Carbon dioxide (CO2),1.050000e+08,2019,NaN
212255,Poland,1.0,Energy sector,1(c),Thermal power stations and other combustion in...,PL.MŚ/000004708.FACILITY,Destylacje Wawrzyniak Przedsiębiorstwo Handlow...,NaN,18.144602,51.949650,NaN,Zbiersk-Cukrownia,AIR,Sulphur oxides (SOX),1.650000e+05,2019,NaN
212256,Poland,7.0,Intensive livestock production and aquaculture,7(a),Installations for the intensive rearing of pou...,PL.MŚ/000004709.FACILITY,Ferma Drobiu Kuklin,NaN,20.407686,53.197683,NaN,Kunki,AIR,Ammonia (NH3),1.510000e+04,2019,NaN
212257,Poland,7.0,Intensive livestock production and aquaculture,7(a),Installations for the intensive rearing of pou...,PL.MŚ/000004719.FACILITY,Przedsiębiorstwo Produkcyjno-Usługowo-Handlowe...,NaN,17.975004,52.354095,NaN,Mieczownica,AIR,Ammonia (NH3),1.060000e+04,2019,NaN